<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Lab 03: Ozone Data

---

### 1. Import the data

In [ ]:
ozonefile = "../data/ozone.csv"

### 2. Print the column names of the dataset to the screen, one column name per line.

### 3. Extract the first 2 rows of the data frame and print them to the console. What does the output look like?

### 4. How many observations (i.e. rows) are in this data frame?

### 5. Extract the last 2 rows of the data frame and print them to the console. What does the output look like?

### 6. What is the value of Ozone in the 47th row?

### 7. How many missing values are in the Ozone column of this data frame?

### 8. What is the mean of the Ozone column in this dataset? Exclude missing values (coded as NA) from this calculation.

### 9. Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values are above 90. What is the mean of Solar.R in this subset?

### 10. What is the mean of "Temp" when "Month" is equal to 6?

### 11. What was the maximum ozone value in the month of May (i.e. Month = 5)?