<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# SQL Exercise 01

### Use the flights database

Reminder 1: the data is available here if you need it: [https://www.dropbox.com/s/a2wax843eniq12g/flights.db?dl=1](https://www.dropbox.com/s/a2wax843eniq12g/flights.db?dl=1))

Reminder 2: there are three tables:

`airports`<br>
`routes`<br>
`airlines`<br>

#### 1) Open the database:

### Airports

#### 2) How many airports are there altogether?

#### 3) How many airports are there in Morocco?

#### 4) Select the name and coordinates of the airport that has the code `HOT`

#### 5) Which country has the most airports?

#### 6) What are the highest and lowest altitudes at which there are airports?

## Airlines

#### 7) Select the last 5 airlines alphabetically

#### 8) Which country has the most *inactive* airlines?

#### 9) Which countries have *exactly* 9 active airlines?

Hint: look at the [HAVING clause](https://www.w3schools.com/sql/sql_having.asp)

#### 10) Which airlines contain the word 'green' somewhere in their name?

Hint: look at the [LIKE](https://www.w3schools.com/sql/sql_like.asp) keyword to see how to search in text columns

## Routes

#### 11) Select the first 10 routes

#### 12) Select the first 10 routes as well as the *country of the origin airport*

#### 13) Now also add the *country of the destination airport*

#### 14) How many routes are there *out* of Japan?

#### 15) How many routes are there *into* Brazil?

#### 16) How many domestic routes are there vs. international?

You may need two separate queries for this