---
<a id='coffee_preference'></a>

# Practice Control Flow on the Coffee Preference Data Set

### 1) Load Coffee Preference data from file and print.

The code to load in the data is provided below. 

The `with open(..., 'r') as f:` opens up a file in "read" mode (rather than "write") and assigns this opened file to `f`. 

We can then use the built-in `.readlines()` function to split the CSV file on newlines and assign it to the variable `lines`.

In [ ]:
with open('../assets/datasets/coffee-preferences.csv','r') as f:
    lines = f.readlines()

#### Iterate through `lines` and print them out.

In [ ]:
# A:

#### Print out just the `lines` object by typing "lines" in a cell and hitting `enter`.

In [ ]:
# A:

---

### 2) Remove the remaining newline `'\n'` characters with a `for` loop.

Iterate through the lines of the data and remove the unwanted newline characters.

**.replace('\n', '')** is a built-in string function that will take the substring you want to replace as its first argument and the string you want to replace it with as its second.

In [ ]:
# A:

---

### 3) Split the lines into "header" and "data" variables.

The header is the first string in the list of strings. It contains our data's column names.

In [ ]:
# A:

---

### 4) Split the header and data strings on commas.

To split a string on the comma character, use the built-in **`.split(',')`** function. 

Split the header on commas, then print it. You can see that the original string is now a list containing items that were originally separated by commas.

Replace both `header` and `data` with the list versions (they should now be lists, not strings):

In [ ]:
# A:

---

### 5) Remove the "Timestamp" column.

We aren't interested in the "Timestamp" column in our data, so remove it from the header and data list.

Removing "Timestamp" from the header can be done with list functions or with slicing. To remove the header column from the data, use a `for` loop.

Print out the new data object with the timestamps removed.

In [ ]:
# A:

---

### 6) Convert numeric columns to floats and empty fields to `None`.

Iterate through the data and construct a new data list of lists that contains the numeric ratings converted from strings to floats and the empty fields (which are empty strings, '') replaced with the `None` object.

Use a nested `for` loop (a `for` loop within another `for` loop) to get the job done. You will likely need to use `ifâ€¦ else` conditional statements as well.

Print out the new data object to make sure you've succeeded.

In [ ]:
# A:

---

### 7) Count the `None` values per person and put the counts in a dictionary.

Use a `for` loop to count the number of `None` values per person. Create a dictionary with the names of the people as keys and the counts of `None` as values.

Who rated the most coffee brands? Who rated the least?

In [ ]:
# A:

---

### 8) Calculate average rating per coffee brand.

**Excluding `None` values**, calculate the average rating per brand of coffee.

The final output should be a dictionary with the coffee brand names as keys and their average rating as the values.

Remember that the average can be calculated as the sum of the ratings over the number of ratings:

```python
average_rating = float(sum(ratings_list))/len(ratings_list)
```

Print your dictionary to see the average brand ratings.

In [ ]:
# A:

---

### 9) Create a list containing only the people's names.

In [ ]:
# A:

---

### 11) Picking a name at random. What are the odds of choosing the same name three times in a row?

Now, we'll use a `while` loop to "brute force" the odds of choosing the same name three times in a row randomly from the list of names.

"Brute force" is a term used quite frequently in programming to refer to a computationally inefficient way of solving a problem. It's brute force in this situation because we can use statistics to solve this much more efficiently than if we actually played out an entire scenario.

Below, we've imported the **`random`** package, which has the essential function for this code: **`random.choice()`**.
The function takes a list as an argument and returns one of the elements of that list at random.

In [ ]:
import random
# Choose a random person from the list of people:
# random.choice(people)

Write a function to choose a person from the list randomly three times and check if they are all the same.

Define a function that has the following properties:

1) Takes a list (your list of names) as an argument.
2) Selects a name using `random.choice(people)` three separate times.
3) Returns `True` if the name was the same all three times; otherwise returns `False`.

In [ ]:
# A: