<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Lab 03: Ozone Data

---

### 1. Import the data

In [1]:
import pandas as pd

data = pd.read_csv("../data/ozone.csv")

In [2]:
print(data.head())

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

### 2. Print the column names of the dataset to the screen, one column name per line.

In [3]:
for x in data.columns.values:
    print(x)

Ozone
Solar.R
Wind
Temp
Month
Day

### 3. Extract the first 2 rows of the data frame and print them to the console. What does the output look like?

In [4]:
tmp = data.loc[0:1] # or data.head(2)
print(tmp.head())

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

### 4. How many observations (i.e. rows) are in this data frame?

In [5]:
print(len(data))

153

### 5. Extract the last 2 rows of the data frame and print them to the console. What does the output look like?

In [6]:
tmp = data.tail(2)
print(tmp.head())

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

### 6. What is the value of Ozone in the 47th row?

In [7]:
print(data.loc[46:48,])

    Ozone  Solar.R  Wind  Temp  Month  Day
46   21.0    191.0  14.9    77      6   16
47   37.0    284.0  20.7    72      6   17
48   20.0     37.0   9.2    65      6   18

In [8]:
print(data.loc[47,'Ozone'])

37.0

### 7. How many missing values are in the Ozone column of this data frame?

In [9]:
print(data['Ozone'].isnull().sum())
print(len(data) - len(data['Ozone'].dropna()))

37
37

### 8. What is the mean of the Ozone column in this dataset? Exclude missing values (coded as NA) from this calculation.

In [10]:
print(data['Ozone'].mean())

42.12931034482759

### 9. Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values are above 90. What is the mean of "Solar.R" in this subset?

In [11]:
print(data[(data.Ozone > 31) & (data.Temp > 90)].head())

     Ozone  Solar.R  Wind  Temp  Month  Day
68    97.0    267.0   6.3    92      7    8
69    97.0    272.0   5.7    92      7    9
119   76.0    203.0   9.7    97      8   28
120  118.0    225.0   2.3    94      8   29
121   84.0    237.0   6.3    96      8   30

In [12]:
print(data[(data.Ozone > 31) & (data.Temp > 90)]['Solar.R'].mean())

212.8

### 10. What is the mean of "Temp" when "Month" is equal to 6?

In [13]:
print(data[ data.Month==6 ].Temp.mean())
print(data[ data.Month==6 ]['Temp'].mean())

79.1
79.1

### 11. What was the maximum ozone value in the month of May (i.e. Month = 5)?

In [14]:
print(data[ data.Month==5 ].Ozone.max())

115.0