---
<a id='coffee_preference'></a>

# Practice Control Flow on the Coffee Preference Data Set

### 1) Load Coffee Preference data from file and print.

The code to load in the data is provided below. 

The `with open(..., 'r') as f:` opens up a file in "read" mode (rather than "write") and assigns this opened file to `f`. 

We can then use the built-in `.readlines()` function to split the CSV file on newlines and assign it to the variable `lines`.

In [1]:
with open('../assets/datasets/coffee-preferences.csv','r') as f:
    lines = f.readlines()

#### Iterate through `lines` and print them out.

In [2]:
for line in lines:
    print(line)

Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe

3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,

3/17/2015 18:38:09,April,4,5,5,3,,,3,,5

3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1

3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3

3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,

3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3

3/17/2015 18:39:01,Dave H,4,5,,5,,,,,

3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2

3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4

3/17/2015 18:39:23,Hugh,1,5,5,4,5,2,5,4,1

3/17/2015 18:39:23,Alex,4,5,,3,,,,,

3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,

3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3

3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5

3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2

3/17/2015 18:40:49,Markus,3,5,,3,,,4,,

3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3

3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,

3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3

3/17/2015 18:42:01,Cheong-tseng,3,1,,,,,4,,

#### Print out just the `lines` object by typing "lines" in a cell and hitting `enter`.

In [3]:
lines

['Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe\n',
 '3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,\n',
 '3/17/2015 18:38:09,April,4,5,5,3,,,3,,5\n',
 '3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1\n',
 '3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3\n',
 '3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,\n',
 '3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3\n',
 '3/17/2015 18:39:01,Dave H,4,5,,5,,,,,\n',
 '3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2\n',
 '3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4\n',
 '3/17/2015 18:39:23,Hugh,1,5,5,4,5,2,5,4,1\n',
 '3/17/2015 18:39:23,Alex,4,5,,3,,,,,\n',
 '3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,\n',
 '3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3\n',
 '3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5\n',
 '3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2\n',
 '3/17/2015 18:40:49,Markus,3,5,,3,,,4,,\n',
 '3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3\n',
 '3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,\n',
 '3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3\n',
 '3/17/2015 18:42:01,Cheong-tseng,3,1,,,,,4,,']

---

### 2) Remove the remaining newline `'\n'` characters with a `for` loop.

Iterate through the lines of the data and remove the unwanted newline characters.

**.replace('\n', '')** is a built-in string function that will take the substring you want to replace as its first argument and the string you want to replace it with as its second.

In [4]:
for i, line in enumerate(lines):
    lines[i] = lines[i].replace('\n', '')

---

### 3) Split the lines into "header" and "data" variables.

The header is the first string in the list of strings. It contains our data's column names.

In [5]:
header = lines[0]
data = lines[1:]

---

### 4) Split the header and data strings on commas.

To split a string on the comma character, use the built-in **`.split(',')`** function. 

Split the header on commas, then print it. You can see that the original string is now a list containing items that were originally separated by commas.

Replace both `header` and `data` with the list versions (they should now be lists, not strings):

In [6]:
print(header.split(','))
header = header.split(',')

for index, row in enumerate(data):
    data[index] = row.split(',')

['Timestamp', 'Name', 'Starbucks', 'PhilzCoffee', 'BlueBottleCoffee', 'PeetsTea', 'CaffeTrieste', 'GrandCoffee', 'RitualCoffee', 'FourBarrel', 'WorkshopCafe']

---

### 5) Remove the "Timestamp" column.

We aren't interested in the "Timestamp" column in our data, so remove it from the header and data list.

Removing "Timestamp" from the header can be done with list functions or with slicing. To remove the header column from the data, use a `for` loop.

Print out the new data object with the timestamps removed.

In [7]:
del header[0]
# you could also use slicing:
# header = header[1:]

for index, row in enumerate(data):
    data[index] = row[1:]

print(header)
print(data)

['Name', 'Starbucks', 'PhilzCoffee', 'BlueBottleCoffee', 'PeetsTea', 'CaffeTrieste', 'GrandCoffee', 'RitualCoffee', 'FourBarrel', 'WorkshopCafe']
[['Alison', '3', '5', '4', '3', '', '', '5', '5', ''], ['April', '4', '5', '5', '3', '', '', '3', '', '5'], ['Vijay', '3', '5', '5', '5', '3', '2', '1', '1', '1'], ['Vanessa', '1', '5', '5', '2', '', '', '3', '2', '3'], ['Isabel', '1', '4', '4', '2', '4', '', '4', '4', ''], ['India', '5', '3', '3', '3', '3', '1', '', '', '3'], ['Dave H', '4', '5', '', '5', '', '', '', '', ''], ['Deepthi', '3', '5', '', '2', '', '', '', '', '2'], ['Ramesh', '3', '4', '', '3', '', '', '', '', '4'], ['Hugh', '1', '5', '5', '4', '5', '2', '5', '4', '1'], ['Alex', '4', '5', '', '3', '', '', '', '', ''], ['Ajay Anand', '3', '4', '4', '3', '5', '', '', '', ''], ['David Feng', '2', '3', '4', '2', '2', '', '5', '4', '3'], ['Zach', '3', '4', '4', '3', '', '', '', '', '5'], ['Matt', '3', '5', '4', '3', '2', '2', '4', '3', '2'], ['Markus', '3', '5', '', '3', '', '', '4', '', ''], ['Otto', '4', '2', '2', '5', '', '', '3', '3', '3'], ['Alessandro', '1', '5', '3', '2', '', '', '4', '3', ''], ['Rocky', '3', '5', '4', '3', '3', '3', '4', '4', '3'], ['Cheong-tseng', '3', '1', '', '', '', '', '4', '', '']]

---

### 6) Convert numeric columns to floats and empty fields to `None`.

Iterate through the data and construct a new data list of lists that contains the numeric ratings converted from strings to floats and the empty fields (which are empty strings, '') replaced with the `None` object.

Use a nested `for` loop (a `for` loop within another `for` loop) to get the job done. You will likely need to use `ifâ€¦ else` conditional statements as well.

Print out the new data object to make sure you've succeeded.

In [8]:
# for each row (which is a list):
for index, row in enumerate(data):
    # look at all the items in the row
    for item_index, item in enumerate(row):
        # but ignore the first one (that's the name)
        if item_index > 0:
            # replace with None if it's an empty string
            if item == '':
                row[item_index] = None
            # or a float if it's a number
            else:
                row[item_index] = float(item)
    data[index] = row

print(data)

[['Alison', 3.0, 5.0, 4.0, 3.0, None, None, 5.0, 5.0, None], ['April', 4.0, 5.0, 5.0, 3.0, None, None, 3.0, None, 5.0], ['Vijay', 3.0, 5.0, 5.0, 5.0, 3.0, 2.0, 1.0, 1.0, 1.0], ['Vanessa', 1.0, 5.0, 5.0, 2.0, None, None, 3.0, 2.0, 3.0], ['Isabel', 1.0, 4.0, 4.0, 2.0, 4.0, None, 4.0, 4.0, None], ['India', 5.0, 3.0, 3.0, 3.0, 3.0, 1.0, None, None, 3.0], ['Dave H', 4.0, 5.0, None, 5.0, None, None, None, None, None], ['Deepthi', 3.0, 5.0, None, 2.0, None, None, None, None, 2.0], ['Ramesh', 3.0, 4.0, None, 3.0, None, None, None, None, 4.0], ['Hugh', 1.0, 5.0, 5.0, 4.0, 5.0, 2.0, 5.0, 4.0, 1.0], ['Alex', 4.0, 5.0, None, 3.0, None, None, None, None, None], ['Ajay Anand', 3.0, 4.0, 4.0, 3.0, 5.0, None, None, None, None], ['David Feng', 2.0, 3.0, 4.0, 2.0, 2.0, None, 5.0, 4.0, 3.0], ['Zach', 3.0, 4.0, 4.0, 3.0, None, None, None, None, 5.0], ['Matt', 3.0, 5.0, 4.0, 3.0, 2.0, 2.0, 4.0, 3.0, 2.0], ['Markus', 3.0, 5.0, None, 3.0, None, None, 4.0, None, None], ['Otto', 4.0, 2.0, 2.0, 5.0, None, None, 3.0, 3.0, 3.0], ['Alessandro', 1.0, 5.0, 3.0, 2.0, None, None, 4.0, 3.0, None], ['Rocky', 3.0, 5.0, 4.0, 3.0, 3.0, 3.0, 4.0, 4.0, 3.0], ['Cheong-tseng', 3.0, 1.0, None, None, None, None, 4.0, None, None]]

---

### 7) Count the `None` values per person and put the counts in a dictionary.

Use a `for` loop to count the number of `None` values per person. Create a dictionary with the names of the people as keys and the counts of `None` as values.

Who rated the most coffee brands? Who rated the least?

In [9]:
none_counts = {}

for row in data:
    name = row[0]
    ratings = row[1:]
    none_counts[name] = ratings.count(None)

print(none_counts)

{'Alison': 3, 'April': 3, 'Vijay': 0, 'Vanessa': 2, 'Isabel': 2, 'India': 2, 'Dave H': 6, 'Deepthi': 5, 'Ramesh': 5, 'Hugh': 0, 'Alex': 6, 'Ajay Anand': 4, 'David Feng': 1, 'Zach': 4, 'Matt': 0, 'Markus': 5, 'Otto': 2, 'Alessandro': 3, 'Rocky': 0, 'Cheong-tseng': 6}

You can use `sorted` to sort the dictionary by its items.

The `lambda x: x[1]` is a way to specify a custom sort.

`x` represents an item in the dictionary as a (key, value) tuple, meaning `x[0]` is the key and `x[1]` is the value.

In [10]:
sorted(none_counts.items(), key=lambda x: x[1], reverse=True)

[('Dave H', 6),
 ('Alex', 6),
 ('Cheong-tseng', 6),
 ('Deepthi', 5),
 ('Ramesh', 5),
 ('Markus', 5),
 ('Ajay Anand', 4),
 ('Zach', 4),
 ('Alison', 3),
 ('April', 3),
 ('Alessandro', 3),
 ('Vanessa', 2),
 ('Isabel', 2),
 ('India', 2),
 ('Otto', 2),
 ('David Feng', 1),
 ('Vijay', 0),
 ('Hugh', 0),
 ('Matt', 0),
 ('Rocky', 0)]

---

### 8) Calculate average rating per coffee brand.

**Excluding `None` values**, calculate the average rating per brand of coffee.

The final output should be a dictionary with the coffee brand names as keys and their average rating as the values.

Remember that the average can be calculated as the sum of the ratings over the number of ratings:

```python
average_rating = float(sum(ratings_list))/len(ratings_list)
```

Print your dictionary to see the average brand ratings.

In [11]:
# extract the brands
brands = header[1:]

ratings_dict = {}

# loop through each brand, where i is the index of the brand list, and i+1 is the index of the rating
# because the 0-th index of each row is the person's name
for index, brand in enumerate(brands):
    # keep track of ratings per brand
    ratings_list = []
    for row in data:
        if row[index+1]: # this is a short way of writing "if row[i+1] is not None"
            ratings_list.append(row[index+1])
    
    # now average the ratings and add to the dictionary
    # we'll also round it to two decimal places with the round function
    average_rating = round(float(sum(ratings_list))/len(ratings_list), 2)
    ratings_dict[brand] = average_rating

print(ratings_dict)

{'Starbucks': 2.85, 'PhilzCoffee': 4.25, 'BlueBottleCoffee': 4.0, 'PeetsTea': 3.11, 'CaffeTrieste': 3.38, 'GrandCoffee': 2.0, 'RitualCoffee': 3.77, 'FourBarrel': 3.3, 'WorkshopCafe': 2.92}

---

### 9) Create a list containing only the people's names.

In [12]:
people = []
for row in data:
    people.append(row[0])

print(people)

['Alison', 'April', 'Vijay', 'Vanessa', 'Isabel', 'India', 'Dave H', 'Deepthi', 'Ramesh', 'Hugh', 'Alex', 'Ajay Anand', 'David Feng', 'Zach', 'Matt', 'Markus', 'Otto', 'Alessandro', 'Rocky', 'Cheong-tseng']

---

### 11) Picking a name at random. What are the odds of choosing the same name three times in a row?

Now, we'll use a `while` loop to "brute force" the odds of choosing the same name three times in a row randomly from the list of names.

"Brute force" is a term used quite frequently in programming to refer to a computationally inefficient way of solving a problem. It's brute force in this situation because we can use statistics to solve this much more efficiently than if we actually played out an entire scenario.

Below, we've imported the **`random`** package, which has the essential function for this code: **`random.choice()`**.
The function takes a list as an argument and returns one of the elements of that list at random.

In [13]:
import random
# Choose a random person from the list of people:
random.choice(people)

'Alessandro'

Write a function to choose a person from the list randomly three times and check if they are all the same.

Define a function that has the following properties:

1) Takes a list (your list of names) as an argument.
2) Selects a name using `random.choice(people)` three separate times.
3) Returns `True` if the name was the same all three times; otherwise returns `False`.

In [14]:
def random_draw(people):

    num_occurrences = 0
    same_name_three_times = False

    while same_name_three_times == False:
        # increase the number of occurrences
        num_occurrences += 1

        # draw three names
        name_1 = random.choice(people)
        name_2 = random.choice(people)
        name_3 = random.choice(people)

        # test for equivalene
        if name_1 == name_2 == name_3:
            # found, so stop looping
            same_name_three_times = True
    
    print(f"The same name was drawn after {num_occurrences} occurrences")
    
# call the function!
random_draw(people)

The same name was drawn after 143 occurrences