<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Review of Python Types, Lists, and Dictionaries

### SOLUTIONS

---

---

### 1) What are the types of the following variables?

In [1]:
a = 1
b = 3.6
c = [1,2,3,5,6]
d = {'john':'smith', 'jane':'doe'}
e = ('one', 'two', 'three')
f = {1:{'key':'value'}, 2:{'key2':'value2'}}
g = True
h = False
i = 'integer'

#### A:

    a: integer (or int)
    b: float
    c: list
    d: dictionary (or dict)
    e: tuple
    f: dictionary
    g: boolean (or bool)
    h: boolean
    i: string

---

### 2) What is the difference between a "mutable" and an "immutable" object?

#### A:

***Mutable*** objects, like `list`s can change after assignment. You can alter their elements once they've been created.

***Immutable*** objects, like `tuple`s cannot change once they've been created.

### 3) Create a list of 10 famous people called `famous_names`.

In [2]:
famous_names = ["Lionel Messi", "Prince", "Barack Obama", "Justin Bieber", "Queen Elizabeth II", "Mr T",
                "Rebecca Adlington", "Rasputin", "Angela Merkel", "Alan Rickman"]

---

### 4) Print the first and last names on the list.

In [3]:
print(famous_names[0])
print(famous_names[-1])

Lionel Messi
Alan Rickman

---

### 5) Print the first five names in the `famous_names` list.

In [4]:
print(famous_names[0:5])

['Lionel Messi', 'Prince', 'Barack Obama', 'Justin Bieber', 'Queen Elizabeth II']

---

### 6) Combine the 9th and 10th names into a single string, separated by a space. Assign that string to a variable.

In [5]:
new_famous_name = famous_names[8] + " " + famous_names[9]
print(new_famous_name)

Angela Merkel Alan Rickman

---

### 7) Append an animal to the list of animals.

In [6]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [7]:
animals.append("honey badger")
animals

['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'honey badger']

---

### 8) Print the length of the `animals` list.

In [8]:
print(len(animals))

7

---

### 9) Divide the length of the fifth animal by the second.

In [9]:
print(len(animals[4]) / len(animals[1]))

2.3333333333333335

---

### 10) Replace `"ranch"` in this list with another sauce and print the list.

In [10]:
sauces = ["mustard", "ketchup", "ranch", "caesar"]

In [11]:
sauces[2] = "hp"
print(sauces)

['mustard', 'ketchup', 'hp', 'caesar']

---

### 11) Count the number of times `0` appears in the following list.

In [12]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

In [13]:
binary.count(0)

16

---

### 12) Create an SF (San Francisco) zip code dictionary.

With the following key-value pairs:

    'sunset':94122
    'presidio':94129
    'soma':94105
    'marina':94123

In [14]:
zipcodes = {
    'sunset': 94122,
    'presidio': 94129,
    'soma': 94105,
    'marina': 94123
}

---

### 13) Get the zip code for `'soma'` and assign it to a variable.

In [15]:
soma = zipcodes["soma"]
soma

94105

---

### 14) Get the keys out of the dictionary.

In [16]:
list(zipcodes.keys())

['sunset', 'presidio', 'soma', 'marina']

---

### 15) Add The Castro to the dictionary with the zip code 94114.

In [17]:
zipcodes["castro"] = 94114
zipcodes

{'castro': 94114,
 'marina': 94123,
 'presidio': 94129,
 'soma': 94105,
 'sunset': 94122}