<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Decision Trees & Random Forests Exercise

In this exercise we are going to predict the salary of baseball players using various season stats.

The data dictionary is available in [this document (page 8)](../assets/data/data-dictionary.pdf)

In [1]:
import pandas as pd

baseball = pd.read_csv("../assets/data/hitters.csv")
baseball.head()

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
0,293,66,1,30,29,14,1,293,66,1,30,29,14,A,E,446,33,20,NaN,A
1,315,81,7,24,38,39,14,3449,835,69,321,414,375,N,W,632,43,10,475.0,N
2,479,130,18,66,72,76,3,1624,457,63,224,266,263,A,W,880,82,14,480.0,A
3,496,141,20,65,78,37,11,5628,1575,225,828,838,354,N,E,200,11,3,500.0,N
4,321,87,10,39,42,30,2,396,101,12,48,46,33,N,E,805,40,4,91.5,N

#### 1: time to do some exploratory data analysis!

We will try to predict the `Salary` column.

Again, to make your life easier, choose a subset of columns to explore and use for prediction.

#### 2: Do a train-test split

#### 3:  Fit a decision tree and measure its cross-validated performance (using the training set only!)

- Make sure you choose the appropriate kind of tree (classification or regression?)
- Choose an appropriate metric to go with your type of tree

#### 4: Fit a decision tree on the training set limiting its depth to 3-4 levels. Export the `.dot` file and view your tree on [http://www.webgraphviz.com](http://www.webgraphviz.com/)

When you view your tree, what does it tell you? What features are more/less important than others?

#### 4: Fit a random forest and compare its cross-validated performance to your decision tree.

#### 5: Look at the random forest's feature importances - how do they compare to the decision tree?

Remember: if you used `cross_val_score` above, you need to fit another random forest!

#### 6: BONUS - try to improve your best model!

- fine-tune some of your hyperparameters using grid search
- some things to tune for a Decision Tree:
    - `max_depth`
    - `min_samples_leaf`
- and for a Random Forest:
    - `max_depth`
    - `min_samples_leaf`
    - `n_estimators`
- also get a final performance measure on your held-out test set!